{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="column">
            <img src="/static/images/outside.png" height="230" width="1090">
            <h1>This is the Home Page</h1>
            <p>This is some text</p>
        </div>
    </div>
</div>
{{end}}